/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*________________________________________________________________________________________________*/

button {
	outline: none;
	background-color: white;
	border-width: 0px;
}

#bwrapper {
	/*position: relative;*/
	margin: 0 auto;
	width: 300px;
    margin-top: 20px;
    display: block;
}

#top{
	vertical-align: top;
	width: 245px;
	position: absolute;
	border: 0px;
}

h1 {
	padding-top: 10px;
	font-family: Garamond;
	font-size: 50px;
	text-align: center;
	padding-bottom: 50px;
}

body {
	min-width: 1355px;
	background-color: rgb(138, 218, 149);
}

button{
	background-color: rgb(138, 218, 149);
}

#orderBox{
	width: 250px;
	height: 250px;
	position: relative;
	margin-left: 1200px;
	background-color: white;
	align-content: center;
	line-height: 200%;
	border-width: 2px;
	border-color: black;
	padding-left: 10px;
	border-radius: 20px;
	border-style: solid;
}

#bB{
	position: absolute;
	width: 324px;
    display: block;
    margin: 0 auto;
}

#blender1{
	position: absolute;
	width: 324px;
	left: .00000000000001px;
	top: .000000000000001px;
    display: block;
    margin: 0 auto;
}

#fwrapper {
	margin: 400px auto;
	width: 1500px;
}

.fruit{
	position: relative;
	/*    display: hidden;*/
	width: 50px;
	height: 50px;
	margin-left: 29px;
	margin-top: 30px;
	visibility: hidden;
}

#logo{
		margin: 0 auto;
		text-align: center;
		display: block;
		width:333px;
		height: 167px;
}

#blurb{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 20px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#apple1{
	margin-top: 60px;
}

#banana1{
	width: 50px;
	height: 60px;
	margin-left: 50px;
}

#grapes1{
	margin-left: 0px;
}

#grapesButton{
	border-width: 0px;
	width: 200px;
	height: 268px;
	background-color: rgb(138, 218, 149);
}

#p1{
	visibility: hidden;
}

#p2{
	visibility: hidden;
}

#blendWrapper{
	margin: 0 auto;
}

#blend{
	font-size: 50px;
	width: 300px;
	height: 200px;
	background-color: blue;
	display: block;
	margin: 0 auto;
	font-family: "EB Garamond",serif;
	background-color: silver;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

#cup{
	float: left;
	position: absolute;
	margin-top: 200px;
	margin-left: 50px;
	/*background-color: pink;*/
}

#cupBackground{
	float:left;
	position: absolute;
	margin-top: 408px;
	margin-left: 200px;

	/*left: .00000000000001px;
	top: .000000000000001px;
}*/

#cupWrapper{
}
